/build
/.cxx/Debug/3l1t643f/arm64-v8a/.ninja_deps
/.cxx/Debug/3l1t643f/arm64-v8a/.ninja_log
/.cxx/Debug/3l1t643f/arm64-v8a/additional_project_files.txt
/.cxx/Debug/3l1t643f/arm64-v8a/android_gradle_build.json
/.cxx/Debug/3l1t643f/arm64-v8a/android_gradle_build_mini.json
/.cxx/Debug/3l1t643f/arm64-v8a/build.ninja
/.cxx/Debug/3l1t643f/arm64-v8a/build_file_index.txt
/.cxx/Debug/3l1t643f/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/.cxx/Debug/3l1t643f/arm64-v8a/.cmake/api/v1/reply/cache-v2-9a82e0a108365c95b0e8.json
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/cmake.check_cache
/.cxx/Debug/3l1t643f/arm64-v8a/cmake_install.cmake
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeCache.txt
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/.cxx/Debug/3l1t643f/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/.cxx/Debug/3l1t643f/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-1976cff86912a333c3d0.json
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/CMakeOutput.log
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/.cxx/Debug/3l1t643f/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/.cxx/Debug/3l1t643f/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-c2f356e0765f077602af.json
/.cxx/Debug/3l1t643f/arm64-v8a/compile_commands.json
/.cxx/tools/debug/arm64-v8a/compile_commands.json
/.cxx/Debug/3l1t643f/arm64-v8a/compile_commands.json.bin
/.cxx/Debug/3l1t643f/arm64-v8a/configure_fingerprint.bin
/.cxx/Debug/3l1t643f/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/.cxx/Debug/3l1t643f/hash_key.txt
/.cxx/Debug/3l1t643f/arm64-v8a/.cmake/api/v1/reply/index-2024-12-15T07-10-34-0475.json
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/libffmpeg.dir/libffmpeg.cpp.o
/.cxx/Debug/3l1t643f/arm64-v8a/metadata_generation_command.txt
/.cxx/Debug/3l1t643f/arm64-v8a/prefab_config.json
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/rules.ninja
/.cxx/Debug/3l1t643f/arm64-v8a/symbol_folder_index.txt
/.cxx/Debug/3l1t643f/arm64-v8a/.cmake/api/v1/reply/target-libffmpeg-Debug-4883ba96528ccb398495.json
/.cxx/Debug/3l1t643f/arm64-v8a/CMakeFiles/TargetDirectories.txt
